@import '../../styles/main.scss';
.PartnerCardGrid {
    margin: 0 auto;
    width: 100%;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    &--items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    &--item {
        width: 290px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: relative;
        overflow: hidden;
        margin: 5px;
        &__top {
            position: relative;
            width: 100%;
            height: 280px;
            overflow: hidden;
            perspective: 1000px;
            &:hover .PartnerCardGrid--item__flipper {
                transform: rotateY(180deg);
            }

            &:hover .PartnerCardGrid--item__img {
                opacity: 0;
            }
            &:hover .PartnerCardGrid--item__flipper-back {
                opacity: 1;
            }
        }

        &__flipper {
            width: 100%;
            height: 100%;
            transition: 0.6s;
            transform-style: preserve-3d;
            position: relative;
            &-front,
            &-back {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            &-front {
                transform: rotateY(0deg);
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
            }
            &-back {
                transform: rotateY(180deg);
                display: flex;
                align-items: flex-start;
                justify-content: space-evenly;
                flex-direction: column;
                padding: 15px;

                opacity: 0;
                transition: ease-in 0.2s;

                -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
                box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

                //background-image: url('../../assets/images/img-noise-360x280.png');
                //  background: 270566ff&noise=626262&density=8&opacity=29;
            }
        }
        &__name,
        &__desc {
            color: white;
            font-family: $lato;
            padding-top: 2px;
        }

        &__name {
            font-size: 24px;
            font-weight: bold;
        }

        &__desc {
            font-size: 18px;
        }
        &__img {
            width: 90%;
            height: 90%;
            object-fit: contain;
        }
        &:hover {
            .PartnerCardGrid--item__name,
            .PartnerCardGrid--item__desc {
                transform: translateY(0);
            }
        }
    }
}
