.HomePage {
}

.powered-by-eb {
    color: #adb0b6;
    text-decoration: none;
}

.EventBrite {
    width: 100%;
    text-align: left;
    max-width: 980px;
  margin: 0 auto;
    &Inner{
        font-family:Helvetica, Arial; 
        font-size:12px; 
        padding:10px 0 5px; 
        margin:2px; 
        width:100%; 
        text-align:left;
    }
}
